@model Portaviones.Models.Retiro

@{
	ViewBag.Title = "Retiro";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Retiro</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Buscar por Numero de Serie</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model => model.Serie, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@*@Html.EditorFor(model => model.Serie, new { htmlAttributes = new { @class = "form-control" } })*@
				<input type="text" name="Serie" value="" />
				@Html.ValidationMessageFor(model => model.Serie, "", new { @class = "text-danger" })
			</div>
			<br />
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" name="Buscar" value="Buscar" class="btn btn-primary" />
			</div>

		</div>


		<hr />
		<div class="form-group">
			@Html.LabelFor(model => model.Serie, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				<input type="text" name="Serie" value="@ViewBag.Serie" readonly />
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Marca, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				<input type="text" name="Marca" value="@ViewBag.Marca" readonly />
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				<input type="text" name="Modelo" value="@ViewBag.Modelo" readonly />
				@Html.ValidationMessageFor(model => model.Modelo, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.NombreFantasia, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				<input type="text" name="NombreFantasia" value="@ViewBag.NombreFantasia" readonly />
				@Html.ValidationMessageFor(model => model.NombreFantasia, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Detalle, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Detalle, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Detalle, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Tecnico, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Tecnico, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Tecnico, "", new { @class = "text-danger" })
			</div>
		</div>
		<br />
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" name="Agregar" value="Agregar" class="btn btn-dark" />
			</div>
		</div>
	</div>
}

<hr />



@if (ViewBag.Boton == "Agregar")
{
	@Html.Partial("RetiroForm", Model)
	
}




<div>
	@Html.ActionLink("Guardar", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
